# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.PROEL4W MVC Kaijenson Motor Shop.iml
/modules.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
